QPushButton {
    border-color: #262222;
    background-color: #b53232;
    border-width: 2px;
    border-radius: 3px;
    border-style: outset;
    margin: 3px;
}

QPushButton:hover {
    border-style: solid;
    background-color: #812121;
}

QPushButton:pressed {
    border-style: inset;

    background-color: #812121;
}