QPushButton {
    border-color: #6e5c5c;
    background-color: #fcf6f6;
    border-width: 3px;
    border-radius: 3px;
    border-style: outset;
    margin: 3px;
    font-size: 20px;
}

QPushButton:hover {
    border-style: solid;
    background-color: #dbb3b3;
}

QPushButton:pressed {
    border-style: inset;

    background-color: #dbb3b3;
}