QPushButton {
    border-color: #96a2c3;
    background-color: #f1f1f1;
    border-width: 2px;
    border-radius: 3px;
    border-style: outset;
    margin: 3px;
}

QPushButton:hover {
    border-style: solid;
    background-color: #dbb3b3;
}

QPushButton:pressed {
    border-style: inset;

    background-color: #dbb3b3;
}